<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit an order</title>
</head>
<body>
<div>
    <h1>Edit an order</h1>
    </br>
    <form action="#" th:action="@{/saveCommande}" th:object="${commande}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Commande ID :</td>
                <td><input type="text" th:field="*{id}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>user:</td>
                <td><select th:field="*{user}" class="form-control" required>
                    <th:block th:each="user : ${listUser}">
                        <option th:value="${user.id}" th:text="${user.firstName}"></option>
                    </th:block>
                </select></td>
            </tr>
            <tr>
                <td>date : </td>
                <td><input type="text" th:field="*{date}"></td>
            </tr>
            <tr>
                <td>total :</td>
                <td><input type="text" th:field="*{total}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>